<h1>Shopping Cart</h1>

<div style="padding-top: 30px">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Quantity</th>
      <th scope="col">Product Price</th>
    </tr>
  </thead>
  <tbody>
        {{#each userCart.selectedProduct}}
    <tr>
      <th scope="row">1</th>

      <td>{{this.name}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.price}}</td>
    </tr>
        {{/each}}
  </tbody>
</table>
</div>